#loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black50;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.loading {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 30px auto;
}

.loading div {
  position: absolute;
  top: 38px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $blue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading div:nth-child(1) {
  left: 8px;
  animation: dot1 0.6s infinite;
}

.loading div:nth-child(2) {
  left: 8px;
  animation: dot2 0.6s infinite;
}

.loading div:nth-child(3) {
  left: 32px;
  animation: dot2 0.6s infinite;
}

.loading div:nth-child(4) {
  left: 56px;
  animation: dot3 0.6s infinite;
}

@keyframes dot1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dot3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes dot2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
