.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
  cursor: pointer;

  &.monochrome {
    .SliderRange, .SliderThumb {
      background-color: $l-gray;
    }
  }
}

.SliderRoot[data-orientation='vertical'] {
  flex-direction: column;
  width: 20px;
  height: 100px;
}

.SliderTrack {
  background-color: $gray;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderTrack[data-orientation='vertical'] {
  width: 3px;
}

.SliderRange {
  position: absolute;
  background-color: $white;
  border-radius: 9999px;
  height: 100%;
}

.SliderRange[data-orientation='vertical'] {
  width: 100%;
}

.SliderThumb {
  display: block;
  width: 8px;
  height: 8px;
  background-color: $white;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}
